body {
    margin: 0;
    background-color: #333;
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.bc {
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
}

.vcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#exp {
    background: transparent;
    resize: none;
    color: white;
    font-size: 21px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.btn-default {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: 1px solid #fff;
    font-weight: bold;
}

.btn-danger {
    color: white;
    text-shadow: none;
    font-weight: bold;
}

.lead {
    margin-bottom: 10px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.g-recaptcha {
    margin-bottom: 10px;
    display: inline-block;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100%;
}


/* spinner */

.spinner {
    width: 70px;
    text-align: center;
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
